@font-face {
    font-family: "norse";
    src: url(Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: rgb(60, 60, 60);
}

.container {
    background-image: url("bamboo.jpg");
    background-size: cover;
    display: flex;
    margin: 0 160px;
}


.left-side {
    flex: 0.5;
}

.side-img {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    padding: 10px;
}

.side-img > img {
    max-width: 300px;
    max-height: 300px;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-right {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 80px 40px 40px;
}

.top-right > p {
    font-weight: bold;
}

.para {
    margin-top: 0px;
}

.first-para {
    margin-bottom: 0px;
}

.middle-right {
    background-color: aliceblue;
    padding: 0px 80px 10px 40px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row > div {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 0px;
}

.middle-right  p {
    font-weight: bolder;
    font-size: larger;
}

label {
    color: black;
    font-weight: bold;
    font-size: smaller;
}


.bottom-right {
    background-color: antiquewhite;
    padding: 10px 80px 20px 40px;
}

button {
    color: white;
    background-color: green;
    padding: 10px 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}

.bottom-right > p {
    font-weight: bold;
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    border: 1px solid #E5E7EB;
    border-radius: 2px;
    padding: 3px;
    box-shadow: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border: 1px solid blue;
    border-radius: 4px;
    box-shadow: none;
}