@font-face {
    font-family: "norse";
    src: url(Norse-Bold.otf);
}

* {
    box-sizing: border-box;
}

.container {
    background-image: url("bamboo.jpg");
    background-size: cover;
    display: flex;
}


.left-side {
    border: 5px solid green;
    flex: 0.5;
}

.right-side {
    border: 5px solid blue;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-right {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 80px 40px 40px;
}

.top-right > p {
    font-weight: bold;
}

.para {
    margin-top: 0px;
}

.first-para {
    margin-bottom: 0px;
}

.middle-right {
    background-color: aliceblue;
    padding: 0px 80px 10px 40px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row > div {
    display: flex;
    flex-direction: column;
    padding: 10px 40px 10px 0px;
}

.middle-right  p {
    font-weight: bolder;
    font-size: larger;
}

label {
    color: black;
    font-weight: bold;
    font-size: smaller;
}


.bottom-right {
    background-color: antiquewhite;
    padding: 10px 80px 20px 40px;
}

button {
    color: white;
    background-color: green;
    padding: 10px 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}

.bottom-right > p {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.left-side {color: white; font-size: 20px;}
