@font-face {
    font-family: "norse";
    src: url(Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


.container {
    background-image: url("bamboo.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}


.left-side {
    border: 5px solid green;
    flex: 0.5;
}

.right-side {
    border: 5px solid blue;
    flex: 1;
}

.left-side, .right-side {color: white; font-size: 20px;}

h1 {
    color: red;
    font-size: 80px;
}