* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    background-image: url("bamboo.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: red;
    font-size: 80px;
}